In [2]:
import pandas as pd
test={"first":["bibek","binaya","bikash"],"last":["rawat","rawat","thapa"],"email":["bibek12@email.com","binaya23@gmail.com","bikash123@gmail.com"]}
df=pd.DataFrame(test,index=["per1","per2","per3"])
print(df)

       first   last                email
per1   bibek  rawat    bibek12@email.com
per2  binaya  rawat   binaya23@gmail.com
per3  bikash  thapa  bikash123@gmail.com

In [3]:
print(df.iloc[1])#accessing a second row do not use in practical.

first                binaya
last                  rawat
email    binaya23@gmail.com
Name: per2, dtype: object

In [5]:
print(df.loc['per2'])#accessing a row using loc .

first                binaya
last                  rawat
email    binaya23@gmail.com
Name: per2, dtype: object

In [8]:
#accessing a email value using a row and column operations.
print(df.loc['per3','email'])
print(df['email']['per2'])

bikash123@gmail.com
binaya23@gmail.com

In [17]:
#accessing a multiple value at a time.
print(df.loc[['per1','per2'],['first','email']])

       first               email
per1   bibek   bibek12@email.com
per2  binaya  binaya23@gmail.com

In [18]:
#set_index()
#set email as a index.
df.set_index('email',inplace=True)
df

                      first   last
email
bibek12@email.com     bibek  rawat
binaya23@gmail.com   binaya  rawat
bikash123@gmail.com  bikash  thapa

In [19]:
df.index

Index(['bibek12@email.com', 'binaya23@gmail.com', 'bikash123@gmail.com'], dtype='object', name='email')

In [21]:
#lets check
df.loc['bibek12@email.com','last']

'rawat'

In [24]:
#reset_index()
df.reset_index(inplace=True)
df#it will return our defult index.

                 email   first   last
0    bibek12@email.com   bibek  rawat
1   binaya23@gmail.com  binaya  rawat
2  bikash123@gmail.com  bikash  thapa

In [27]:
#accessing a information of email.
# df['email']
df.email

0      bibek12@email.com
1     binaya23@gmail.com
2    bikash123@gmail.com
Name: email, dtype: object

In [28]:
condition=df.email.str.contains('email')
df.loc[condition]#first cherck all email and return only.email format

               email  first   last
0  bibek12@email.com  bibek  rawat

In [32]:
#applying another condition
# condition=df.email.str.contains('email')
# df.loc[~condition]
condition=df.email.str.contains('gmail')
df.loc[condition]

                 email   first   last
1   binaya23@gmail.com  binaya  rawat
2  bikash123@gmail.com  bikash  thapa

In [35]:
#Renaming a column
df.rename(columns={'first':'first_name','last':'last_name','email':'e-mail'},inplace=True)
df

                e-mail first_name last_name
0    bibek12@email.com      bibek     rawat
1   binaya23@gmail.com     binaya     rawat
2  bikash123@gmail.com     bikash     thapa