In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

In [5]:
data

{'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
 'team': ['Bears',
  'Bears',
  'Bears',
  'Packers',
  'Packers',
  'Lions',
  'Lions',
  'Lions'],
 'wins': [11, 8, 10, 15, 11, 6, 10, 4],
 'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

In [11]:
df=pd.DataFrame(data)
# df=pd.DataFrame(data,columns=['year','team'])
df

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [12]:
df['year']

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

In [14]:
df[df['year']>2010]

   year     team  wins  losses
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
6  2011    Lions    10       6
7  2012    Lions     4      12

In [15]:
df[df['wins']>10]

   year     team  wins  losses
0  2010    Bears    11       5
3  2011  Packers    15       1
4  2012  Packers    11       5

In [23]:
df[(df['year']>2010) & (df['wins']>10)]

   year     team  wins  losses
3  2011  Packers    15       1
4  2012  Packers    11       5

# Set index

In [28]:
df[df['year']<2012][['team','wins','losses']]

      team  wins  losses
0    Bears    11       5
1    Bears     8       8
3  Packers    15       1
5    Lions     6      10
6    Lions    10       6

In [29]:
df[df['year']<2012][['team','wins','losses']].set_index('team')

         wins  losses
team
Bears      11       5
Bears       8       8
Packers    15       1
Lions       6      10
Lions      10       6