In [1]:
#Write a Pandas program to create and display a one-dimensional array-like object 
#containing an array of data using Pandas module
from pandas import Series as se
x=se([1,2,3,4,55])
x

0     1
1     2
2     3
3     4
4    55
dtype: int64

In [7]:
#Write a Pandas program to convert a Panda module Series to Python list and it's type
from pandas import Series as se
arr=se([2,3,4,5,6])
# a=list(arr)
# print(a)
# print(type(a))
print("after converting:")
print(arr.tolist())

after converting:
[2, 3, 4, 5, 6]

In [11]:
#Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
from pandas import Series as se
a=se([4,5,6])
b=se([7,8,9])
print(a+b)
print(b-a)
print(a*b)
print(b/a)

0    11
1    13
2    15
dtype: int64
0    3
1    3
2    3
dtype: int64
0    28
1    40
2    54
dtype: int64
0    1.75
1    1.60
2    1.50
dtype: float64

In [13]:
#Write a Pandas program to compare the elements of the two Pandas Series.
from pandas import Series as se
a=se([3,4,5])
b=se([2,4,6])
print(a==b)
print(a>b)
print(a<b)

0    False
1     True
2    False
dtype: bool
0     True
1    False
2    False
dtype: bool
0    False
1    False
2     True
dtype: bool

In [14]:
#Write a Pandas program to convert a dictionary to a Pandas series.
from pandas import Series se
a={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
a=se(a)
print(a)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [20]:
#Write a Pandas program to convert a NumPy array to a Pandas series.
from pandas import Series as se
import numpy as np
a=np.arange(1,10)
print("original numpy:")
print(a)
print("after changing:")
print(se(a))

original numpy:
[1 2 3 4 5 6 7 8 9]
after changing:
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [28]:
#Write a Pandas program to change the data type of given a column or a Series.
from pandas import Series as se
import pandas as pd
a=se([3,5,6,"python",65.12])
print(a)
print("after changing inio a numeric:")
b=pd.to_numeric(a,errors="coerce")
print(b)

0         3
1         5
2         6
3    python
4     65.12
dtype: object
after changing inio a numeric:
0     3.00
1     5.00
2     6.00
3      NaN
4    65.12
dtype: float64

In [36]:
#Write a Pandas program to convert the first column of a DataFrame as a Series.
from pandas import Series as se
import pandas as pd
import numpy as np
arr=pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(arr)

       col1      col2      col3
0 -1.924086 -0.698736 -0.256558
1  0.638699 -0.223505  1.495292
2 -1.056535 -0.617291  0.289574
3  2.277587 -0.777934 -1.022015
4  0.464980  1.769191 -1.708758
5 -0.639655  0.127436  0.940055

In [39]:
print(se(arr.col1))

0   -1.924086
1    0.638699
2   -1.056535
3    2.277587
4    0.464980
5   -0.639655
Name: col1, dtype: float64

In [44]:
#Write a Pandas program to convert a given Series to an array.
from pandas import Series as se
import pandas as pd
import numpy as np
a=se([2,4,6,7])
print(a)
qq=np.array(a.values.tolist())
print(qq)

0    2
1    4
2    6
3    7
dtype: int64
[2 4 6 7]

In [54]:
#Write a Pandas program to convert Series of lists to one Series.
from pandas import Series as se
# a=se([1,23,4,5])
# b=se([6,8,9,0])
# print(se(list(a)+list(b)))
m=se([["a","b","c"],["d","e"],["f"]])
print(m)
m=m.apply(se).stack().reset_index(drop=True)
print(m)

0    [a, b, c]
1       [d, e]
2          [f]
dtype: object
0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [59]:
#Write a Pandas program to sort a given Series.
from pandas import Series as se
ar=se(["a","5","55"])
arr=se(ar).sort_values()
print(arr)

1     5
2    55
0     a
dtype: object

In [64]:
#Write a Pandas program to add some data to an existing Series.
from pandas import Series as se
ar=se([2,4,5,6,"ne"])
print(ar)
aa=se([12,33])
print(aa)
x=ar.append(aa)
print(x)

0     2
1     4
2     5
3     6
4    ne
dtype: object
0    12
1    33
dtype: int64
0     2
1     4
2     5
3     6
4    ne
0    12
1    33
dtype: object

In [70]:
# Write a Pandas program to create a subset of a given series based on value and condition.
from pandas import Series as se
a=se([0,1,2,3,4,5,6,7,8,9,10])
print(a)
print("sub-set after applying condition is:")
print(a[a<=5])

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
sub-set after applying condition is:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [78]:
#Write a Pandas program to change the order of index of a given series.
from pandas import Series as se
a=se([4,7,8,4],index=['a','b','c','d'])
print(a)
# a=se(a).sort_values()
# print(a)
a=a.reindex(index=['c','a','d','b'])
print(a)

a    4
b    7
c    8
d    4
dtype: int64
c    8
a    4
d    4
b    7
dtype: int64

In [81]:
#Write a Pandas program to create the mean and standard deviation of the data of a given Series.
from pandas import Series as se
a=se([1,5,8,9,4,5,3,2,54,8])
print(a)
print("mean is:")
print(a.mean())
print(" standard deviation is:")
print(a.std())

0     1
1     5
2     8
3     9
4     4
5     5
6     3
7     2
8    54
9     8
dtype: int64
mean is:
9.9
 standard deviation is:
15.72294855016422

In [6]:
#Write a Pandas program to get the items of a given series not present in another given series.
from pandas import Series as se
s1=se([1,2,3,5,8,10])
s2=se([2,4,6,8,10,12])
result=s1[~s1.isin(s2)]
print(result)

0    1
2    3
3    5
dtype: int64

In [17]:
#Write a Pandas program to get the items which are not common of two given series.
from pandas import Series as se
import numpy as np
s1=se([2,6,78,4,3,22])
s2=se([2,4,6,8,10,12])
s3=se(np.union1d(s1,s2))
print(s3)
# result=set(s1).union(set(s2))
# print(se(list(result)))

0     2
1     3
2     4
3     6
4     8
5    10
6    12
7    22
8    78
dtype: int64

In [20]:
#Write a Pandas program to calculate the frequency counts of each unique value of a given series. 
from pandas import Series as se
s1=se([0,1,2,3,4,0,1,5,0,2,4,1,0])
print("occurance list are:")
print(s1.value_counts())

occurance list are:
0    4
1    3
4    2
2    2
5    1
3    1
dtype: int64