In [22]:
#series is updated form of list:
from pandas import Series as se
arr=se([122,3,4])
print(arr)

0    122
1      3
2      4
dtype: int64

In [23]:
print(arr.values)
print(list(arr.index))

[122   3   4]
[0, 1, 2]

In [24]:
#series with index
xyz=se([10,15,8],index=["nepal","china","india"])
print(xyz)
print(xyz>10)
print(xyz[xyz>10])
print("nepal" in xyz)#checking nepal is present or not.

nepal    10
china    15
india     8
dtype: int64
nepal    False
china     True
india    False
dtype: bool
china    15
dtype: int64
True

In [25]:
#to convert series into a dict
w_dict=xyz.to_dict()
w_dict

{'nepal': 10, 'china': 15, 'india': 8}

In [26]:
#dict to series:
w_se=se(w_dict)
w_se

nepal    10
china    15
india     8
dtype: int64

In [28]:
country=["nepal","china","india","usa"]
arr1=se(w_dict,index=country)
arr1

nepal    10.0
china    15.0
india     8.0
usa       NaN
dtype: float64

In [33]:
#we can use isnull and notnull to find missing data.
import pandas as pd
print(pd.isnull(arr1))
print(pd.notnull(arr1))

nepal    False
china    False
india    False
usa       True
dtype: bool
nepal     True
china     True
india     True
usa      False
dtype: bool

In [34]:
print(arr1)

nepal    10.0
china    15.0
india     8.0
usa       NaN
dtype: float64

In [35]:
print(w_se)

nepal    10
china    15
india     8
dtype: int64

In [37]:
a=arr1+w_se
print(a)

china    30.0
india    16.0
nepal    20.0
usa       NaN
dtype: float64

In [43]:
#we can give the series name
a.name="Data"
a

china    30.0
india    16.0
nepal    20.0
usa       NaN
Name: Data, dtype: float64

In [46]:
#we can also set the index
a.index.name="country"
a

country
china    30.0
india    16.0
nepal    20.0
usa       NaN
Name: Data, dtype: float64

In [47]:
lst=[10,20,30]
s1=se(lst,index=["a","b","c"])
s1

a    10
b    20
c    30
dtype: int64

In [51]:
#x=s1.values
x=s1.tolist()
print(x)

[10, 20, 30]